---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro";
import Divisor from "../components/Divisor.astro";
import MapSection from "../components/MapSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<section id="hero-section" class="pt-20 bg-white">
		<Hero />
	</section>
	<section id="map-section" class="h-[110vh] sm:h-[80vh] lg:h-[110vh] bg-white">
		<MapSection />
	</section>
	<section class="bottom-0">
		<Footer />
	</section>
</Layout>
