---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro";
import Divisor from "../components/Divisor.astro";
import MapSection from "../components/MapSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<section id="hero-section" class="pt-36">
		<Hero />
	</section>
	<Divisor />
	<section id="map-section" class="h-screen bg-neutral-900">
		<MapSection />
	</section>
	<section class="">
		<Footer />
	</section>
</Layout>
