---
import "../styles/global.css";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content={description || "Mapa de Universidad Católica de Temuco"} />
    <title>{title ? `${title} | UCT Map` : "UCT Map"}</title>
  </head>

  <body class="bg-gray-50 text-gray-900">
	<Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  main {
    min-height: 100vh;
  }
</style>

<style is:global>
  @import 'tailwindcss';

  @plugin "@midudev/tailwind-animations";
</style>
